.context{
    text-align: center;
}
.view-list{
    background-color: aliceblue;
    color: black;
    border:1px solid orangered;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
.render-list{
    font-size: 50px;
    color: red;
}